@import url("/fonts/CorsaGrotesk/stylesheet.css");

$light-green: #6EA06A;
$green-text-color: #064B00;
$footer-color: #D9F3D0;
$darker-green-text-color: #144311;

:root {
  font-family: 'Corsa Grotesk', serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.v-btn {
  font-weight: 1800;
  font-size: 1em;
  line-height: 3.1;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

a {
  color: black;
}

.photo-cube {
  border: 3px solid $light-green;
  border-radius: 1.5em;
}

.carousel-photo {
  .v-img {
    border-radius: 5em;
    border: 3px solid $light-green;
  }
}

.darker-green-text {
  color: $darker-green-text-color;
}

.green-text {
  color: $green-text-color;
}

.main-page-text {
  color: $green-text-color;
  letter-spacing: 1.5pt;
  text-align: left;
  font-weight: 100;
  font-size: 32pt;
  line-height: 1;
}

.footer-component {
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  border-top: 3px solid $green-text-color !important;

  p {
    color: $darker-green-text-color;
  }
}

v-container, .v-container {
  padding: 3em !important;
  min-width: 100% !important;
}

v-main, .v-main {
  margin: auto;
  width: 80%;
  min-height: auto;
  -webkit-box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
  -moz-box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
  box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
}

#app {
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /*a:hover {*/
  /*  color: #747bff;*/
  /*}*/
  button {
    background-color: #f9f9f9;
  }
}
