@import url("/fonts/CorsaGrotesk/stylesheet.css");

:root {
  font-family: 'Corsa Grotesk', serif;
  line-height: 1.5;
  font-weight: 400;

  --light-green-color: #6EA06A;
  --green-text-color: #064B00;
  --footer-color: #D9F3D0;
  --darker-green-text-color: #144311;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.v-btn {
  font-weight: 1800;
  font-size: 1em;
  line-height: 3.1;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

a {
  color: black;
}

.photo-cube {
  border: 3px solid var(--light-green-color);
  border-radius: 1.5em;
}

.carousel-photo {
  border-radius: 5em;
  border: 3px solid var(--light-green-color);
}

.rounded-photo {
  border-radius: 30%;
  border: 5px solid var(--light-green-color);
}

.darker-green-text {
  color: var(--darker-green-text-color) !important;
}

.green-text {
  color: var(--green-text-color);
}

.light-green-text {
  color: var(--light-green-color);
}

h1, .h1 {
  color: var(--green-text-color);
  text-align: left;
  font-weight: 100;
  font-size: 32pt;
  line-height: 1.2;
  margin-bottom: 8px;
}

h2, .h2 {
  color: var(--green-text-color);
  text-align: left;
  font-weight: lighter !important;
  font-size: 24pt !important;
}

h3, .h3 {
  color: var(--darker-green-text-color);
  text-align: left;
  font-weight: lighter;
  font-size: 16pt;
}

.page-title {
  color: var(--green-text-color);
  font-size: 24pt;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 16px;
}

.lh-small {
  line-height: 1.1;
}

.main-page-text {
  color: var(--green-text-color);
  letter-spacing: 1.5pt;
  text-align: left;
  font-weight: 100;
  font-size: 32pt;
  line-height: 1;
}

.main-page-button {
  text-transform: none !important;
  font-weight: 50 !important;
  font-size: 20pt!important;
}

.light-green-button {
  background-color: var(--light-green-color) !important;
  color: white !important;
}

.footer-component {
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  border-top: 4px solid var(--light-green-color) !important;
  padding-top: 1em !important;

  p {
    color: var(--darker-green-text-color);
  }
}

.header-app-bar {
  border-bottom: 2px solid var(--green-text-color) !important;
}

v-container, .v-container {
  padding: 3em !important;
  min-width: 100% !important;
}

.v-application {
  height: 200% !important;
}

v-main, .v-main {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  min-height: auto;
  -webkit-box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
  -moz-box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
  box-shadow: 0 0 50px 0 rgba(99, 99, 99, 0.3);
}


@media (min-width: 1920px) {
  v-main, .v-main {
    width: 70%;
  }
}

@media (min-width: 1200px) and (max-width: 1919.99px) {
  v-main, .v-main {
    width: 80%;
  }
}

@media (min-width: 900px) and (max-width: 1199.99px) {
  v-main, .v-main {
    width: 90%;
  }
}

@media (min-width: 360px) and (max-width: 899.99px) {
  v-main, .v-main {
    width: 95%;
  }
}

#app {
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
}
